# Miscellaneous
howboutyou/*.class
howboutyou/*.log
howboutyou/*.pyc
howboutyou/*.swp
howboutyou/.DS_Store
howboutyou/.atom/
howboutyou/.buildlog/
howboutyou/.history
howboutyou/.svn/

# IntelliJ related
howboutyou/*.iml
howboutyou/*.ipr
howboutyou/*.iws
howboutyou/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
howboutyou/**/doc/api/
howboutyou/**/ios/Flutter/.last_build_id
howboutyou/.dart_tool/
howboutyou/.flutter-plugins
howboutyou/.flutter-plugins-dependencies
howboutyou/.packages
howboutyou/.pub-cache/
howboutyou/.pub/
howboutyou/pubspec.lock
howboutyou/build/
howboutyou/windows/
howboutyou/linux/
howboutyou/web/

# Web related
howboutyou/lib/generated_plugin_registrant.dart

# Symbolication related
howboutyou/app.*.symbols

# Obfuscation related
howboutyou/app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
